{{include file="public/header" /}}
	<title>关于我们</title>
	<body>
		<header class="mui-bar mui-bar-nav  index-headers" >
			<a  class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" href='javascript:;' ></a>
			<h1 class="mui-title color ">关于我们</h1>
			
		</header>
		<div class="mui-content mui-scroll-wrapper" id="pullrefresh" >
			<div class="mui-scroll">
				
				<div class="mui-table-view mui-table-view-chevron  user_about ">
					<h3 class="mui-text-center">爱游旅行</h3>
					<div class="mui-text-center" style="margin-bottom: 5px;">公司简介</div>
					<div class="about_jj">
						我们坚持"诚信第一，服务至上，拼搏奉献"的服务精神，整合多家景点资源，让更多的人能省心，省钱的实现说走就走的旅游梦！
					</div>
					<ul class="mui-list-unstyled">
						<li><label>客服电话</label> <a style="color: #2992ff;" href="tel:400-005-5212" class="mui-pull-right">400-005-5212</a></li>
						<li><label>工作日</label> <span class="mui-pull-right">周一至周五  9:00-18:00</span></li>
						
						<li class="mui-clearfix"><label>公司地址</label> <span class="mui-pull-right" style="width: 75%;">河南省郑州市金水区文化路与任寨北街路南50米互联空间爱游</span></li>
						
					</ul>
				</div>
			
			</div>
		</div>
		{{include file="public/footer" /}}
		<script type="text/javascript" charset="utf-8">
		mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style:'circle',
						callback: pulldownRefresh
					}
				}
		});
		function pulldownRefresh() {
			setTimeout(function() {
				window.location.reload()
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
			}, 1500);
		}
		
			
		</script>
		
	</body>
</html>
