<!-- Mainly scripts -->
<script src="__STATIC__/admin/js/jquery-3.1.1.min.js"></script>
<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/js/jquery.metisMenu.js"></script>
<script src="__STATIC__/admin/js/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/admin/js/counterup.min.js"></script>
<script src="__STATIC__/admin/js/waypoints.min.js"></script>
<script src="__STATIC__/admin/js/ajaxSubmit.js"></script>
<!-- Custom and plugin javascript -->
<script src="__STATIC__/admin/js/layer/layer_3.0/layer.js"></script>
<script src="__STATIC__/admin/js/inspinia.js"></script>
<script src="__STATIC__/admin/js/pace.min.js"></script>
<script src="__STATIC__/admin/js/index.js" type="text/javascript" charset="utf-8"></script>
<script  type="text/javascript" charset="utf-8">
  var lists=$('.nav-second-level')
			for(var i=0;i<lists.length;i++){
				$(lists[i]).prev().children('.xiaobiao').html($(lists[i]).children().length)
				
			}
</script>