<link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/admin/fonts/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/datatables.min.css"/>
<link href="__STATIC__/admin/css/animate.min.css" rel="stylesheet">
<link href="__STATIC__/admin/css/style.css" rel="stylesheet">
<style type="text/css">
			.xiaobiao{position: absolute;right: 10px;top: 5px;font-style: inherit;font-size: 14px;color: green;}
		</style>