<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<title>激活会员卡</title>


	<link href="__STATIC__/h5/css/mui.min.css" rel="stylesheet">
	<link href="__STATIC__/h5/css/swiper-3.4.2.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__STATIC__/h5/fonts/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/h5/css/swiper-3.4.2.min.css"/>
	<link href="__STATIC__/h5/css/mui.picker.css" rel="stylesheet" />
	<link href="__STATIC__/h5/css/mui.poppicker.css" rel="stylesheet" />
	<link rel="stylesheet" href="__STATIC__/h5/css/index.css">
</head>
<body>
<header class="mui-bar mui-bar-nav  index-headers">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color" href='javascript:;' ></a>
	<h1 class="mui-title color">卡片激活</h1>

</header>
<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
	<div class="mui-scroll">

		<div class="mui-table-view mui-table-view-chevron  jihuo_card " >
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>激活信息</label>

				</div>
				<div class="mui-input-row flex">
					{{volist name='$cards' id='co'}}
					<div class=" mui-radio mui-left">
						<label>{{$co->title}}</label>
						<input name="card_id" type="radio" value="{{$co->card_id}}" typ="{{$co->card_type}}" >
					</div>
					{{/volist}}
				</div>
				<div class="mui-input-row">
					<label>卡号</label>
					<input type="text" class="mui-input-clear" name="card_number" placeholder="请输入卡号">
				</div>
				<div class="mui-input-row active">
					<label>卡密</label>
					<input type="password" class="mui-input-password" name="password" placeholder="请输入卡密">
				</div>
				{{if condition='$uInfo->parent_id == 0'}}
				<div class="mui-input-row  tuijianr active">
					<label>推荐人手机</label>
					<input type="text" name="pmobile" class="mui-input-clear" placeholder="请输入推荐人手机">
				</div>
				{{/if}}
              
              	<input type="hidden" id='zhuang'  value="{{$bind}}">
				<button type="button" class="mui-btns" >立即激活</button>

			</form>
		</div>

	</div>
</div>

<script src="__STATIC__/h5/js/jquery-1.11.0.min.js"></script>

<script src="__STATIC__/h5/js/mui.js"></script>
<script src="__STATIC__/h5/js/mui.picker.js"></script>
<script src="__STATIC__/h5/js/mui.poppicker.js"></script>
<script src="__STATIC__/h5/js/city.data.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/h5/js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/h5/js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/h5/js/swiper-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/h5/js/ajax_Submit.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            down: {
                style:'circle',
                callback: pulldownRefresh
            }
        }
    });
    function pulldownRefresh() {
        setTimeout(function() {
            window.location.reload()
            mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
        }, 1500);
    }
    var cityPicker3 = new mui.PopPicker({
        layer: 3
    });

    var radios=$(".mui-radio")
    for(var i=0;i<radios.length;i++){
        radios[i].addEventListener('tap',function(){
            if($(this).children('input').attr('typ')==1){
                $('.tuijianr').addClass('active')
            }else{
                $('.tuijianr').removeClass('active')
            }
        })
    }
    $('button.mui-btns')[0].addEventListener('tap',function(){
      	if($('#zhuang').val()==0){
				 mui.toast('请先完善资料')
				  setTimeout(function () {
					location.href = "{{:url('user/infoBind')}}";
				  },1000)
			  return false;
			}
        var data=$('form').serialize()
        console.log(data)
		ajax_Submit("",data,'post')

        //if(data[6].value==''||data[8].value==null){mui.toast('推荐人不能为空'); return false}

    })
</script>

</body>
</html>
